dataset/
results/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env/
.venv/

# PyInstaller
# Usually these files are written by a Python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test cache directories
.pytest_cache/
.tox/
.mypy_cache/
.cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Ignore other commonly used cache files
*.cache

# macOS system files
.DS_Store